



/* ========== Left Col ========== */
.date {
  position: sticky;
  top: 20px;
}


/* ========== Event ========== */
.event {
  border-radius: 0;
}

.event-workshop {
  border: 2px solid #FFC107;
  /* background: #FFF3CD; */
}

.event-exhibition {
  border: 2px solid slateblue;
}

.event-video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background: dimgray;
  margin-top: 5px;
  margin-bottom: 20px;
}

.btn-primary {
  color: #222;
  background: #FFC107;
  border: none;
  border-radius: 0;
}
.btn-primary:hover {
  background: #CC9A06;
}
.btn-primary.disabled {
  color: #222;
  background: #FFC107;
  border: none;
}

.event-cta {
  margin-top: 10px;
}

.hidden {
  display: none;
}


/* ========== ICONS ========== */
.social-networks {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-networks > * {
  margin: 10px;
}